/* フォームのフォントを太く */
input {
    font-size: unset;
}

/* 数字フォームのバーの非表示 */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 

/* スクロールバーの削除 */
* {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none;    /* Firefox 対応 */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
}

/* paddingとborderを要素内に表示 */
* {
    box-sizing: border-box;
}