.panel {
    margin: 0 auto;
    max-width: 1344px;
}

.panel > .controller {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 64px auto auto;
    padding: 16px;
    gap: 12px;
    height: 100%;
    max-width: 1366px;
}

.panel > .controller > .contents {
    display: block;
    flex: 1 1 0px;
    position: sticky;
    top: 80px;
}

.panel > .controller > .contents > .marker {
    border-radius: 4px;
    background-color: transparent;
}

.panel > .controller > .contents > .marker > .button {
    border-radius: 4px;
    padding: calc(0.5rem - 1px) 1em;
    background-color: rgb(255, 244, 166);
    cursor: pointer;
}

.panel > .controller > .contents > .marker > .button:hover {
    background-color: rgb(255, 239, 128);
}

.panel > .controller > .main {
    display: flex;
    flex: 3 1 0px;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}

.panel > .controller > .main .detail {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.panel > .controller > .main .detail > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
}

.panel > .controller > .main .detail > .title > .text {
    padding: 12px 16px;
}

.panel > .controller > .main .detail > .title > .arrow {
    
}