.skillchecktable {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: space-between;
}

.skillchecktable > .paragraph {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    background-color: rgb(170, 180, 200);
    width: initial;
}

.skillchecktable > .paragraph.optimum {
    background-color: rgb(143, 163, 204);
}

.skillchecktable > .paragraph > .leftheader {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(89, 92, 96);
    text-align: center;
    font-weight: bold;
    min-height: 2rem;
    width: 9rem;
}

.skillchecktable > .paragraph > .header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(89, 92, 96);
    text-align: center;
    font-weight: bold;
    width: 0;
}

.skillchecktable > .paragraph > .data {
    display: flex;
    flex: 1;
    border: 1px solid rgb(89, 92, 96);
    padding: calc(6px / 5);
}

.skillchecktable > .paragraph > .data > .size {
    display: flex;
    border-radius: 4px;
    background-color: rgb(210, 225, 255);
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 0px;
}

.skillchecktable > .paragraph > .data > .size > .pos {
    padding: calc(-1px + 0.175rem) 1em;
}

.skillchecktable > .paragraph > .data > .size > .pos > span {
    padding-left: 0px;
}

.skillchecktable > .paragraph.optimum > .data > .size > .pos > span {
    color: red;
}