.field {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    min-width: 0%;
    max-width: 100%;
}

.field > .paragraph {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    max-width: 100%;
    width: 100%;
}

.field > .paragraph > .data {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0px;
    flex: 1 1 0%;
}

.field > .paragraph > .data > .title {
    padding: calc(-1px + 0.5rem) 1em;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid rgb(39, 43, 48);
    background-color: rgb(170, 180, 200);
    white-space: nowrap;
}

.field > .paragraph > .data > .text {
    display: flex;
    min-width: 0px;
    flex: 1 1 auto;
    position: relative;
}

.field > .paragraph > .data > .text > input {
    flex: 1 1 auto;
    padding: calc(-1px + 0.5rem);
    border-radius: 0px 4px 4px 0px;
    border: 1px solid rgb(89, 92, 96);
    background-color: rgb(210, 225, 255);
    min-width: 0px;
    outline-width: 0px;
}